.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;  
  width: 100%;
}

.center_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #cccccc;
  border-bottom: 3px solid #cccccc;
  border-radius: 5px;
  height: 23em;
  width: 40%;
  max-width: 25em;
}

.upper_fold {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 18em;
  height: 100%;
  min-height: 15em;
}

.lower_fold {
  display: flex;
  justify-content: flex-start;
  padding-top: 0.4em;
  font-size: 0.8em;
  height: 2em;
  width: 30%;
  min-width: 32em;
  border: none;
}

.logo_group {
  display: flex;
  align-items: center;
  height: 5.5em;
  width: 100%;
  margin-top: 2em;
}

.input_group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 11em;
  width: 100%;
}

.logo_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 4.5em;
}

.logo {
  width: 4.5em;
}

.title {
  display: flex;
  justify-contents: center;
  align-items: center;
  width: fit-content;
  font-size: 1.5em;
  font-family: "helvetica";
  font-weight: bold;
  padding-left: 0.4em;
  color: #707070;
}

.input_container {
  display: flex;
  align-items: center;
  height: 4em;
}

.input_box {
  height: 50%;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 5px;
  width: 100%;
  font-family: "helvetica";
  font-size: 1.2em;
}

.email {
  margin-top: 0.5em;
  height: 2.5em;
}

.password {
  margin-bottom: 0.7em;
  height: 2.5em;
}

.message {
  color: red;
  font-size: 0.8em;
}

.button_group {
  display: flex;
  justify-content: space-between;
  height: 3em;
  width: 100%;
  margin-bottom: 2em;
}

.create_link {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: "helvetica";
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
}

.create_link > a {
  text-decoration: none;
  color: blue;
}

.login_button_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 7em;
}

.login_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-family: "Arial";
  font-weight: bold;
  font-size: 0.75em;
  height: 2em;
  width: 5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.login_button:hover {
  background-color: #7284b7;
  cursor: pointer;
}

.invalid {
  border: 2px solid red !important;
  box-shadow: 0px 0px 10px red;
}

@media only screen and (max-height: 850px) {
  .center_container {
    height: 21em;
    width: 30%;
    min-width: 20em;
    max-width: 20em;
  }

  .lower_fold {
    min-width: 25em;
    max-width: 20em;
  }

  .input_group {
    height: 9em;
  }

  .logo_group {
    margin-top: 1.5em;
  }

  .button_group {
    margin-bottom: 2em;
  }

  .input_container {
    display: flex;
    align-items: center;
    height: 4em;
  }

  .input_box {
    border: 1px solid #cccccc;
    height: 5%;
    border-radius: 5px;
    font-size: 1.3em;
  }

  .email {
    margin-top: 0.6em;
    height: 2em;
  }

  .password {
    margin-bottom: 0.9em;
    height: 2em;
  }
}

@media only screen and (max-height: 650px) {
  .center_container {
    height: 21em;
    width: 40%;
    min-width: 20em;
  }

  .lower_fold {
    width: 30%;
  }

  .input_group {
    justify-content: center;
    height: 9em;
  }

  .logo_group {
    margin-top: 1.5em;
  }

  .button_group {
    margin-bottom: 1.9em;
  }

  .input_box {
    border: 1px solid #cccccc;
    height: 5%;
    border-radius: 5px;
    font-size: 1.3em;
  }

  .email {
    margin-top: 0.1em;
    height: 2em;
  }

  .password {
    margin-bottom: 0.9em;
    height: 2em;
  }
}

@media only screen and (max-height: 420px) {
  .center_container {
    height: 20em;
    width: 30%;
    min-width: 20em;
  }

  .input_group {
    height: 9.5em;
  }

  .input_box {
    border: 2px solid #cccccc;
    height: 65%;
    border-radius: 5px;
    font-size: 1.2em;
  }

  .button_group {
    margin-bottom: 1.3em;
  }

  .email {
    margin-top: 0.7em;
    margin-bottom: 0.3em;
  }

  .password {
    margin-top: 0.4em;
    margin-bottom: 0.9em;
  }
}

@media only screen and (max-height: 300px) {
  .center_container {
    height: 16em;
    width: 30%;
    min-width: 20em;
  }

  .logo_container {
    width: 3.7em;
    height: 4em;
  }

  .logo {
    width: 3.6em;
  }

  .title {
    height: 2.9em;
    font-size: 1.2em;
    padding-left: 0.4em;
  }

  .input_group {
    height: 7.5em;
    width: 100%;
  }

  .input_container {
    height: 3.5em;
  }

  .input_box {
    height: 65%;
    font-size: 1em;
  }

  .email {
    margin-top: 0.7em;
    margin-bottom: 0.3em;
  }

  .password {
    margin-top: 0.4em;
    margin-bottom: 0.6em;
  }
}
